nav{
	position: absolute;
	top: 100px;
	right: 64px;
	line-height: 3em;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a,
.fa-cart-plus{
	font-weight: bold;
	color: #810000;
	padding: 12px;
	font-size: 24px;
}

nav ul li a:hover,
.fa-cart-plus:hover{
	color: #000;
}

#hero img{
	position: relative;
	height: 600px;
	width: 100%;
}

#hero-title{
	position: absolute;
	top: 400px;
	left: 128px;
}

#hero-title h2{
	color: #FFF;
	font-size: 64px;
}

.btn{
	display: inline-block;
	text-decoration: none;
	background-color: #fff;
	font-weight: bold;
	border : 2px solid #810000;
	border-radius: 12px;
	color: #810000;
}

#view-menu{
	padding: 14px;
	font-size: 16px;
}

.btn:hover{
	transform: scale(1.1);
}

#menu-title{
	text-align: center;
	margin: 32px;
}

#add-to-cart{
	padding: 10px;
	font-size:10px;
}

#today-menu,#coffee-menu,#bakery-menu{
	margin: 64px;
	display: flex;
	flex-wrap: wrap;
}

.item{
	width: 32.3%;
	padding: 5px;
	margin-top:32px;
}

.item img{
	width: 300px;
	height: 300px;
}

/*footer */
footer{
	background-color: #810000;
	text-align: center;
	padding: 14px;
	color: #fff;
}

footer img{
	width: 100px;
	height: 100px;
}

/** Menu Page **/

.tab-bar{
	list-style: none;
	margin: 0;
	padding: 10px 10px 0px 10px;
	background-color: #810000;
	display: flex;
}

.tab-bar li{
	padding: 8px 20px;
	margin-right: 8px;
	background-color: #fff;
	cursor: pointer;
}

.panel{
	min-height: 200px;
	border: 1px solid #810000;
	border-top:none;
	padding: 15px;
}
#tab-2{
	background : #e55;
}
#panel-2{
	display: none;

}